@import 'variables';
@import 'global';
@import 'font';

@import 'partials/home';
@import 'partials/navigation';
@import 'partials/steps';
@import 'partials/oneoften';
@import 'partials/familyfeud';
@import 'partials/animations';
